<tr>
  <td class="align-middle"><%= badge.title %></td>
  <td class="align-middle"><%= badge.rule_name %></td>
  <td class="align-middle"><%= badge.rule_value %></td>
  <td class="align-middle"><img src="<%= badge.picture %>"></td>
</tr>
