<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<% if @test_passage.success? %>
  <p class="text-success"> Passed
  <%= @test_passage.success_rate %>
  </p>
<% else %>
  <p class="rext-danger"> Failed
  <%= @test_passage.success_rate %>
  </p>
<% end %>

<%= link_to t('.back'), tests_path, class: 'btn btn-primary' %>
