<div>
  <hr>
  <p><%= link_to 'Feedback', new_feedback_path %></p>
  <p>Alexey Sergeev. <%= current_year %></p>
  <p><%= github_url('itsalexfirst', 'test-guru') %></p>
  <p>Create, Read, Update, Delete Tests</p>
  <p><%= link_to 'Learning Project. Online School Thinknetica', 'https://www.thinknetica.com', target: :blank %></p>
</div>
