<div class="nav user">
  <%= link_to 'TestGuru', root_path %><br>
  <% if user_signed_in? %>
    <p>Welcome, <b><%= current_user.name %></b> Guru</p>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% end %>
</div>
